.divider {
  display: grid;
  grid-template-columns: auto auto;
}

.produkt_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.produkt {
  background-color: tomato;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.filter_section {
  padding: 20px;
  display: flex;
  justify-content: center;
}
