
.divider {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-right: 100px;
  margin-left: 100px;
}

.produkt_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 20px;
}

.filter_section_grid {
  font-size: x-large;
  margin: 10px;
  display: flex;
  flex-direction: column; /* Stack vertically */
  gap: 6px; /* Space between options */
  margin: 0 auto;
}